@keyframes pan-stars {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.wave {
  animation: waveAnimation 12s ease-in-out infinite alternate;
}

.wave-1 {
  animation-delay: 0s;
}
.wave-2 {
  animation-delay: 4s;
}
.wave-3 {
  animation-delay: 8s;
}

@keyframes waveAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
